<div class="container-fluid p-4">
  <div class="d-flex flex-row-reverse">
    <a type="button" class="btn btn-secondary" [routerLink]="['/register']">{{
      "MENTIONS.BACK" | translate
    }}</a>
  </div>
  <h2>Mentions légales</h2>
  <p>
    Le <b>Tournoi International de Paris</b> (nommé TIP dans la suite du
    document) est une commission indépendante de la
    <b>Fédération Sportive LGBT+</b>, association Loi 1901, déclarée auprès de
    la Préfecture de Police de Paris le 12 décembre 1986, est propriétaire et
    assure la diffusion du site
    <a href="http://paris-tournament.com" target="_blank"
      >paris-tournament.com</a
    ><br /><br />
    <b>Siège social :</b> Commission TIP /Fédération Sportive LGBT+ – c/o Centre
    LGBT – 63 rue Beaubourg – 75003 PARIS<br />
    copresident@paris-tournament.com<br />
    SIRET : 453 098 030 00035<br /><br />
    <b>Directeur de la publication :</b> le/la président(e) en exercice de la
    fédération<br />
    Toute reproduction même partielle de ce site est soumise à l’autorisation
    préalable de la fédération.<br /><br />
    <b>Hébergement :</b> OVH – 2 rue Kellermann – 59100 Roubaix, France<br />
    (SAS au capital de 10 000 000 € RCS Roubaix – Tourcoing 424 761 419 00045).
    <br /><br />
    <b>Protection des données personnelles :</b>
    Pour toute information sur la protection des données personnelles, vous
    pouvez consulter le site de la Commission Nationale de l’Informatique et des
    Libertés
    <a href="http://www.cnil.fr" target="_blank">"(http://www.cnil.fr/)</a
    >.<br />
    Conformément à l’article 34 de la Loi » Informatique et Libertés » n°78-17
    du 6 janvier 1978, vous disposez d’un droit d’accès, de modification, de
    rectification et de suppression des données nominatives qui vous
    concernent.<br />
    → Pour exercer ce droit, vous pouvez transmettre votre demande à
    Privacy@paris-tournament.com.<br />
    → Veillez à bien préciser le nom du compte concerné ainsi que son adresse
    e-mail et mot de passe afin que nous puissions vérifier que vous en êtes
    bien le propriétaire.<br />
    → Le site du TIP peut être amené à conserver et utiliser les adresses IP des
    utilisateurs pour une identification ultérieure si la demande en est faite
    par une autorité judiciaire, de police, ou toute autorité habilitée par la
    loi.<br />
    Dans un souci particulier de transparence et de protection de vos droits, le
    site du TIP ne se procurera pas des informations permettant de vous
    identifier personnellement, sauf à ce que vous nous les communiquiez en
    remplissant les formulaires ou tout autre document téléchargeable sur le
    site. Les informations que vous nous communiquerez seront considérées comme
    confidentielles et sont exclusivement destinées au site du TIP. Aucune
    exploitation commerciale, même partielle, des données recueillies ne pourra
    être effectuée.<br />
    → Durée de conservation des données traitées : jusqu’à votre
    désabonnement.<br />
  </p>
  <h2>Politique de Confidentialité</h2>
  <p>
    <b>Introduction</b><br />
    Ce document a pour objet de décrire la politique de confidentialité de la
    commission indépendante du Tournoi International de Paris (TIP) rattachée à
    la Fédération Sportive Gaie et Lesbienne en ce qui concerne la collecte, le
    traitement et la protection des données personnelles.<br /><br />
    <b>Coordonnées</b><br />
    Commission TIP- Fédération Sportive LGBT+ – c/o Centre LGBT – 63 rue
    Beaubourg – 75003 PARIS<br />
    copresident@paris-tournament.com<br /><br />
    <b>Données personnelles collectées</b><br />
    Statistiques et mesures d'audience<br />
    • Données collectées: adresse IP, système d'exploitation, navigateur,
    référent, pages consultées, heure et jour de connexion<br />
    • Finalité du traitement: assurer un suivi technique et statistique des
    visites du présent site internet<br />
    • Destinataires des données collectées: la commission permanente de la
    Fédération Sportive LGBT+<br />
    <b>Cookies</b><br />
    • Données collectées: adresse IP, préférence de langue<br />
    • Finalité du traitement: améliorer l’expérience utilisateur au sein du site
    internet<br />
    • Destinataires des données collectées: aucun<br />
    <b>Formulaires de contact</b><br />
    • Données collectées: nom de famille, prénom, numéro de téléphone,
    courriel<br />
    • Finalité du traitement: assurer un suivi et une personnalisation des
    contacts<br />
    • Destinataires des données collectées: la commission permanente de la
    Fédération Sportive LGBT+<br />
    <b>Newsletter</b><br />
    • Données collectées: courriel<br />
    • Finalité du traitement: réception de la newsletter mensuelle<br />
    • Destinataires des données collectées: la commission permanente de la
    Fédération Sportive LGBT+<br />
    <b>Inscriptions</b><br />
    • Données collectées: nom de famille, prénom, numéro de téléphone, courriel,
    association adhérente<br />
    • Finalité du traitement: assurer le suivi des inscriptions au Tournoi
    International de Paris<br />
    • Destinataires des données collectées: la commission permanente de la
    Fédération Sportive LGBT+<br />
    <b>Demandes de subvention</b><br />
    • Données collectées: nom de famille, prénom, numéro de téléphone, courriel,
    association adhérente, , justification d'inscription au tournoi sportif,
    avis d'imposition, justificatif de situation, dernier bulletin de salaire ou
    avis d'imposition, revenu mensuel net, RIB<br />
    • Finalité du traitement: instruire la demande de subvention<br />
    • Destinataires des données collectées: la commission en charge des
    attributions des subventions<br />
    <b>Partage et transfert de données</b><br />
    La Fédération Sportive Gaie et Lesbienne ne partage ni ne transfère aucune
    donnée.<br />
    <b>Durée de conservation des données</b><br />
    Les données à caractère personnelle sont conservées pour une durée de 5
    ans.<br />
    <b>Droits des personnes</b><br />
    Toute personne physique dispose des droits suivants :<br />
    • Le droit d’accès à vos données à caractère personnel<br />
    • Le droit à la rectification<br />
    • Le droit à l’effacement des données<br />
    • Le droit de demander une limitation du traitement<br />
    • Le droit de s’opposer au traitement<br />
    • Le droit à la portabilité des données<br />
    • Le droit de retirer son consentement à tout moment<br />
    • Le droit d’introduire une réclamation auprès d’une autorité de contrôle<br />
    Pour exercer ces droits, vous devez en faire la demande via l’adresse mail
    Privacy@paris-tournament.com.<br />
  </p>
  <h2>Legal Notice</h2>
  <!-- end page-header -->

  <p>
    <b>Introduction</b><br />
    The <b>Tournoi International de Paris</b> (named TIP in the following ) is
    an independent commission of the LGBT+ Sports Federation, an association
    under the French Law of 1901, declared to the PolicePrefecture of Paris on
    December 12, 1986, owns and operates the website
    <a href="http://paris-tournament.com" target="_blank"
      >paris-tournament.com</a
    ><br /><br />
    <b>Head office :</b> Commission TIP /Fédération Sportive LGBT+ - c/o Centre
    LGBT - 63 rue Beaubourg - 75003 PARIS<br />
    copresident@paris-tournament.com SIRET : 453 098 030 00035<br /><br />
    <b>Publishing director :</b> the current president of the federation<br />
    Any reproduction in whole or in part of this website is subject to prior
    permission from the LGBT+ Sports Federation.<br />
    Hosting : OVH - 2 rue Kellermann - 59100 Roubaix, France<br />
    (SAS with a capital of 10 000 000 € RCS Roubaix - Tourcoing 424 761 419
    00045).<br /><br />
    <b>Protection of personal data</b><br />
    For any information on the protection of personal data, you can check the
    website of the National Commission on Computer Technology and Freedom
    (http://www.cnil.fr/).<br />
    In accordance with Article 34 of the French Data Protection Act (Law "
    computer technology and freedom n°78-17 of January 6, 1978), you have the
    right to access, modify, rectify and delete all your personal data in
    file<br />
    → To exercise this right, you can send your request to
    Privacy@paris-tournament.com.<br />
    → Be sure to mention the name of the concerned account as well as its e-mail
    address and password sobwe can verify that you are the owner.<br />
    → The TIP site may store and use users' IP addresses for further
    identification if requested by a judicial or police authority, or any
    authority authorized by law.<br />
    Through particular respect of transparency and protection of you rights, the
    TIP will not procure any information allowing your identification except
    under the case of material transmitted direct from you to our organisation
    submitted through the fields provided whithin the site <br />
    The information youp provide will be considered confidential and is intended
    exclusively for the TIP site. No commercial use in whole or in part of the
    data collected will be made.<br />
    → Duration of conservation of the processed data: until you unsubscribe.<br />
  </p>
  <h2>Privacy Policy</h2>
  <!-- end page-header -->

  <p>
    <b>Introduction</b><br />
    The purpose of this document is to describe the privacy policy of the
    independent commission of the International Tournament of Paris (TIP)
    attached to theLGBT+ sports federation with regard to the collection,
    processing and protection of personal data.<br /><br />
    <b>Contact details</b><br />
    TIP Commission - LGBT+ Sports Federation - c/o Centre LGBT - 63 rue
    Beaubourg - 75003 PARIS<br />
    copresident@paris-tournament.com<br /><br />
    <b>Personal data collected</b><br />
    Statistics and audience.<br />
    - Data collected: IP address, operating system, browser, referrer, pages
    viewed, time and day of connection<br />
    - Purpose of processing: to ensure technical and statistical monitoring of
    visits to this website<br />
    - Recipients of the data collected: the permanent commission of the LGBT+
    Sports Federation<br />
    Cookies<br />
    - Data collected: IP address, language preference<br />
    - Purpose of the processing: to improve user’s experience on the website<br />
    - Recipients of the data collected: none<br />
    Contact forms<br />
    - Data collected: last name, first name, phone number, email<br />
    - Purpose of processing: to ensure follow-up and personalization of
    contacts<br />
    - Recipients of the data collected: the permanent commission of the LGBT+
    Sports Federation<br />
    Newsletter<br />
    - Data collected: e-mail<br />
    - Purpose of the processing: to receive the monthly newsletter<br />
    - Recipients of the data collected: the permanent commission of the LGBT+
    Sports Federation<br />
    Registrations<br />
    - Data collected: last name, first name, phone number, email, member
    association<br />
    - Purpose of the processing: to ensure the follow-up of the registrations
    for the International Tournament of Paris<br />
    - Recipients of the data collected: the permanent commission of the LGBT+
    Sports Federation<br />
    Grant requests<br />
    - Data collected: last name, first name, telephone number, email address,
    member association, proof of registration for the tournament, tax notice,
    proof of situation, last salary slip or tax notice, net monthly income, bank
    details<br />
    - Purpose of the processing: to process the application for a grant<br />
    - Recipients of the data collected: the committee in charge of grant
    allocations<br />
    Sharing and transfer of data<br />
    The LGBT+ Sports Federation does not share or transfer any data.<br /><br />
    <b>Duration of data retention</b><br />
    Personal data is kept for a period of 5 years.<br /><br />
    <b>Rights of individuals</b><br />
    Every individual has the following rights:<br />
    - The right to access your personal data<br />
    - The right of rectification<br />
    - The right of erasure of data<br />
    - The right to request a limitation of processing<br />
    - The right to object to the processing<br />
    - The right to data portability<br />
    - The right to withdraw consent at any time<br />
    - The right to lodge a complaint with a supervisory authority<br />
    To exercise these rights, you must make a request via the email address
    Privacy@paris-tournament.com.<br />
  </p>
  <div class="d-flex flex-row-reverse">
    <a type="button" class="btn btn-secondary" [routerLink]="['/register']">{{
      "MENTIONS.BACK" | translate
    }}</a>
  </div>
</div>
