/* You can add global styles to this file, and also import other style files */

.form-box {
    max-width: 500px;
}

.logo {
    max-height: 2rem;
}

.small-text {
    font-size: 0.8rem;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
