<div class="container-fluid form-box mt-3">
  <div *ngIf="invalidToken" class="alert alert-danger my-3" role="alert">
    <p>{{ "ERROR.RESET-TOKEN-INVALID" | translate }}</p>
  </div>

  <div *ngIf="passwordReset" class="alert alert-success my-3" role="alert">
    <p>{{ "RESET-PWD.SUCCESS" | translate }}</p>
    <div class="d-flex justify-content-end">
      <a class="btn btn-success" [routerLink]="['/login']">{{
        "RESET-PWD.BACK" | translate
      }}</a>
    </div>
  </div>

  <div></div>

  <div class="card mb-3 text-center border-secondary">
    <div class="card-header text-bg-dark">
      <div class="d-flex align-items-center justify-content-between">
        <span>{{ "RESET-PWD.ACTION" | translate }}</span>
        <img
          src="/assets/images/logotype_blanc.svg"
          alt="TIP Logo"
          class="logo"
        />
      </div>
    </div>
    <div class="card-body">
      <form class="mt-3" [formGroup]="pwdReset" (ngSubmit)="onSubmit()">
        <div class="mb-3">
          <label for="password" class="form-label">{{
            "GENERAL.PASSWORD" | translate
          }}</label>
          <app-password-displayable
            [formGroup]="pwdReset"
            name="password"
          ></app-password-displayable>
        </div>
        <div class="mb-3">
          <label for="passwordConfirmation" class="form-label">{{
            "REGISTER.PASSWORD" | translate
          }}</label>
          <input
            class="form-control"
            id="passwordConfirmation"
            type="password"
            placeholder="TipyPassword"
            formControlName="passwordConfirmation"
          />
        </div>
        <button
          type="submit"
          class="btn btn-primary mb-3"
          [disabled]="pwdReset.invalid || invalidToken"
        >
          {{ "RESET-PWD.ACTION" | translate }}
        </button>
      </form>
    </div>
  </div>
</div>
